<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Főoldal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employee">Dolgozók</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rank">Beosztások</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/project">Projektek</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login">Belépés</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/logout">Kilépés</a>
  </li>
</ul>

@if(isLoggedIn) {
  <div>Belépve</div>
} @else {
  <div>Nem vagy bejelentkezve</div>
}

<div class="container">
  
  <!-- <app-login /> -->
   <router-outlet />
</div>